<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html lang="en">
<header>
    {% if title %}
    <title>{{title}}-Nawiri</title>
    {% else %}
    <title>Welcome to Nawiri Sacco Management System</title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='js/bootstrap.min.js')}}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>



    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{url_for('login')}}">Login</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href={{url_for( 'home')}}>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{url_for( 'register')}}>Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for( 'userDetails')}}" tabindex="-1">User Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for( 'logout')}}" tabindex="-1" onclick="return confirm('Are you sure you want to logout?')">Log Out</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br><br>
    <h3 class="text-center  m-auto" style="border:4px solid teal;width:200px;">NAWIRI SACCO</h3>





    <br>

</header>

<body>

    <br>
    <br>
    <div class=" col-md-12 ">
        {% with messages=get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,message in messages %}
        <div class="btn btn-outline-info mt-4 ">
            {{ message }} {% endfor %} {% endif %} {% endwith %}
        </div>
        {% block content %}{% endblock %}





</body>
<footer class="main-footer col-sm-12 align-content-center">
    <strong>Athanas Brian &copy; 2020.</strong> All rights reserved.

</footer>


</html>